* {background-color: #E3D9CA ;
    color: #95A792;
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* text-align: center; */
    margin-top: 50px;
    font-weight: bolder
};

#startbtn {
    margin-left: 450px;
    padding: 20px;
};

